*{
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
    height: 3503.05px;
    
}
.main-root{
    width: 100%;
    height: 2830.05px;
    display: flex;
    display: flex;
    flex-flow: column nowrap;
}
.site-header{
    width: 100%;
    height: 48px;
    position: sticky;
    background-color: #fff;
    z-index: 20;
}
.head-nav-bar{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 48px;
    justify-content: space-between;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    position: sticky;
}
.navigationlogo{ 
 max-width: 32px;
    max-height: 32px;
    height: 28px;
    padding-right: 16px;
    padding-left: 16px;
    width: 28px;
    box-sizing: initial;
    flex-shrink: 0;
    position: relative;
    z-index: 100;
}
.navigationlogo img{
    width: 28px;
    height: 28px;
}
.navigation-menu,.nav-right{
    display: flex;
    height: 100%;
    width: 549.17px;
    align-items: center;
}
.nav-divition{
    flex-grow: 1;
}
.nav-right{
    width: 183.03px;
    height: 100%;
}
.nav-shortcuts{
    width: 156px;
    height: 100%;
    position: relative;
    display: flex;
}
.navigation-menu li,.nav-right li{
    list-style: none;
    margin-left: 8px;
    margin-right: 8px;
}
.navigation-menu a,.nav-right a{
    text-decoration: none;
    color: black;
    font: size 22px;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 100%;
    padding: 0 8px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}
.nav-shortcuts li {
    list-style: none;
    margin-left: 8px;
    margin-right: 8px;

}
.nav-shortcuts button{
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 100%;
    padding: 0 8px;
    background-color: transparent;
    border: none;

}
.site-main{
    width: 100%;
    height: 2830.05px;
    background-color: #eee;

}
.site-main-section-1{
    display: flex;
    width: 100%;
    height: 450px;

}
.site-main-section-1 img{
    width:1349px;
    height: 450px;
    z-index: 1;
}
.site-banner-link{
    z-index: 2;
    width: 360px;
    height: 67.188px;
    padding-top: 48px;
    padding-bottom: 48px;
    position: absolute;
    top: 32%;
    left: 20%;


}
.site-banner-link-in{
    margin-top: 8px;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}
.site-banner-link-in a{
    width: 192.09px;
    height: 35.19px;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
    font-weight: 400;

}
.site-banner-link-in span{
    width: 142.094px;
    height:19.188px;
}
.site-main-section-2{
    width: 100%;
    height: 450px;
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}
.site-main-section-2 img{
    width: 100%;
    height: 450px;
    z-index: 1;
    overflow: hidden;
    
    
}
.banner-link{
    width: 360px;
    height: 284.38px;
    display: flex;
    z-index: 2;
    box-sizing: border-box;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    font-size: 22px;
    right: 719px;
    top: 563px;
}
.banner-link h4,h2{
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    color: #fff;
}
.site-main-section-3{
    width: 100%;
    height: 421.17px;
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.divide-image-sec-3{
    width: 650.5px;
    height: 421.17px;
    justify-content: space-around;
    

}
.divide-image-sec-3 img{
    width: 650.5px;
    height: 421.17px;
}
.site-main-section-4{
    width: 100%;
    height: 421.17px;
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sec4-division-1{
    width: 50%;
    height:100%;
    justify-content: space-around;

}
.sec4-divition-2{
    width: 25%;
    height: 100%;
    justify-content: space-around;
    

}
.sec4-divition-3{
    width: 25%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    box-sizing: border-box;
    color: #191919;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transition: box-shadow .25s ease;
    
}
.sec4-division-1 img{
    width: 650px;
    height: 421.17px;

}
.sec4-divition-2 img{
    width: 317.25px;
    height: 421.17px;
    overflow: hidden;
    
}
.discription-sec4-div-3{
    width: 233.25px;
    height: 140.95px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:  37.944px 14.229px;
    padding-bottom: 0px;
    
}
.sec4-div-3-img{
    width: 242.84px;
    height: 242.84px;
}
.sec4-div-3-img img{
    width: 242.84px;
    height: 242.84px;
}
#dis1{
    font-weight: 700;
    font-family: "Pro VF", "Camphor Pro", sans-serif;
    font-size: 29px;
    line-height: 36.4266px;
}
#dis2{
    font-size: 15.1778px;
    font-weight: lighter;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    line-height: 18.9722px;
}
.dis4-link{
    width: 204.81px;
    height: 19.19px;
    margin-top: 36px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
}
.dis4-link a{
    text-decoration: none;
    color: #ff6900;
}
.site-main-section-5{
    margin: 48px;
    width: 1253px;
    height: 424.016px;
    display: flex;
}
.sec5-sub{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-around;

}
.sec5-sub1{
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #fff;
}

.sec5-sub2{
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    
}
#img1{
    width: 603.33px;
    height: 421.17px;
    z-index: 1;
    
}
#img2{
    width: 60.7px;
    height: 60.7px;
    z-index: 2;
    position: absolute;
    align-items: center;
    justify-content: center;
}
[class^=arr-]{  /* Arrows @RCB */
    border:       solid currentColor;
    border-width: 0 .2em .2em 0;
    display:      inline-block;
    padding:      .20em;
}
.arr-right {transform:rotate(-45deg);}

#discovey{
    color: #ff6900;
    padding-top: 70.17px;
    margin-bottom: 15px;
}
#prime{
    padding: 0 117.628px;
    margin-bottom: 15.178px;
}
#explore{
    padding: 0 117.628px;
    margin-bottom: 15.178px;
}
.site-main-section-6{
    width: 1253px;
    height: 471.688px;
    margin: 48px;
    display: flex;
    justify-content: space-around;

}
.site-main-section-6-sub{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.xiaomi-care{
    width: 50%;
    height: 100%;
    padding-top: 70px;
    background-color: #fff;


}
.service-centre{
    width: 50%;
    height: 50%;
    background-color: #fff;
}
.mi-exchange{
    width: 50%;
    height: 50%;
    background-color: #fff;

}
.title{
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 37.9px;
    font-size: 37.9px;
    text-align: center;
}
.icons-tile{
    width: 100%;
    height: 95.06px;
    display: flex;
}
.icons-tile div{
    width: 33.33%;
    height: 100%;
    margin-top: 66.403px;
    align-content: center;
}
.icons-tile a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 15px;
    padding-left: 30px;

}
.icons-tile img{
    justify-content: center;
    align-items: center;
    width: 53.109px;
    height: 53.109px;
    margin:  22.767px 76.531px;
    margin-top: 0px;
}
.service-centre,.mi-exchange{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.service-centre div,.mi-exchange div{
    font-weight: 400;
    font-size: 32px;

}
.service-centre a,.mi-exchange a{
    text-decoration: none;
    color: black;

}
.footer-main{
    width: 100%;
    height: 625px;
    background-color: #191919;
    padding-top: 48px;
}
.footer-padding-top{
    padding-top: 64px;
    
}
.footer-container{
    width: 1285px;
    height: 561px;
    padding: 0 32px;
}
.section-1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 428px;
}
.sec-main-footer{
    width: 919px;
    display: flex;
    flex-grow: 1;
    margin-inline-end: 50px;
   
}
.sec-main-footer div{
    width: 217.750px;
    margin-inline-end: 16px;
}
.footer-content{
    color: #fff;
}
.footer-content li{
    list-style: none;
    margin-bottom:16px;
    margin-top: 5px;
}
.footer-content a{
  text-decoration: none;
  color: #898989;
  font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
  font-size: 14px;


}
.footer-aside{
    width: 316px;
    display: flex;
    flex-direction: column;
}
.footer-aside-1{
    display: flex;
    width: 100%;
    height: 73.188px;
    margin-bottom: 24px;
    flex-direction: column;
}
.footer-aside-2{
    display: flex;
    width: 100%;
    height: 78px;
    margin-bottom: 32px;
}
.footer-aside-3{
    display: flex;
    width: 100%;
    height: 169px;
    border: 1px;
}
.footer-aside-1 ul{
    display: flex;

}
.footer-aside-1 h3{
    width: 100%;
    height: 20px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    color: #fff;

}
.footer-aside-1 li{
    list-style: none;

}
h3{
    height: 20px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    font-size: 16px;
    margin-bottom: 16px;
}
.footer-aside-1 img{
    width: 32px;
    height: 32px;
}
